streamlit
pandas
matplotlib.pyplot 
numpy
plotly.express
sklearn
seaborn 
pyautogui
datetime
statsmodels
plotly.graph_objects
altair
database
streamlit_authenticator
streamlit_option_menu
streamlit_lottie
json
requests 

